<link rel="stylesheet" href="/styles/redefinir.css"> 


<body>
   
  <br>
   <br><br><div class="container-fluid bg-container d-flex align-items-center justify-content-center" >
    <div class="back-button">
      <a href="/login"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB3UlEQVR4nM1Wy05CMRDtxldgBhNfS8WlWxdKaGHhxgf6XYrxF3wEUP8CjeJtiXHlyqhfoBs0QVaauTzl3ltavCCTzKad9nRmzkyHsVGXu3U2VU7CruJ4KDkUJMfrukKB1hSHTDHNJkMDlCIWVwLPJIdPJfBbp2QjOZ7Smb4BnzbZhBR4JAXWegF6H4BfFIXHFTZuBXqfjs5KgVe2gD4PKDlrkQUjUDJUHF7/CtoCF/BSSkTm9Z6usrEwPPWC4y2lLhCYcho2aEs5ZgNAY3GXFAMClgJrZR5b9gBTyWhI8kbhMgkp2WruOfE0B12d0oWN/Oc0NrmGTfADOXz8ajJOCvZ6lwZcUl36RUa358PynXaYqeWZ5SnX7bnfmjHJlIALY5J0eGfjqWqfL3QCFy0Z6npp5aloKhRHAvh8iKHO/w+5BB50AEPGxlObvW4tJ2GrBUxFTcU98AYioOL5LGhy0Bx4N22ZZKuxOfb0aicdWxrkJ6E4VkuJ6UXfH8qUZP2oFLDPhj0IKIE3PecvGlNoXAnR0+cHHp3TgrZCvgEztt0siGzGw15T3LrkmO2LcByrlFPr8bZTiIk0OejqvK1QoZIJZC/rQ6jJ0CdejwLkiYSucsjTmpOCbe0kOSryA2oc5naX8ASvAAAAAElFTkSuQmCC"></a>
          </div>
  <form action="/redefinir/send-code" method="POST">
    <div class="form-container">
    <br><br> <br><br><br>
     <h1>Confirmação de E-mail</h1>
     <h4>Estamos quase lá! Para redefinir sua senha, confirme seu endereço de email clicando no link abaixo. Assim, poderá ter acesso novamente à sua conta com segurança.</h4>
     <br><br><input class="form-control" type="email" id="email"  placeholder="Email"  name="email" autocomplete="on" required>
 
    
    <button class="btn bg-custom btn-block mt-2" type="submit">Confirmar</button><br><br> 
    <br><br>  <% if (typeof errorMessage !== 'undefined') { %>
      <p class="text-danger text-center"><%= errorMessage %></p>
    <% } %><br> </div></div></form>
</body>

  

    


