<link rel="stylesheet" href="/styles/login.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
  

  <div class="wrapper">
   
    <div class="card-switch">
      <label class="switch"> 
        <input class="toggle" type="checkbox">
        <span class="slider"></span>
        <span class="card-side"></span>
        <div class="flip-card__inner">
          <div class="flip-card__front">
            <div class="container-fluid bg-container d-flex align-items-center justify-content-center">
              <form action="/login/submit" method="post">
                <br><h1 class="text-center">Login</h1>
                <br>
                <br><br>
                <input type="email" name="email" id="email" autocomplete="off" class="form-control" placeholder="Email" required>
                <br>
                <div class="password-container">
                  <input type="password" name="senha" class="form-control" placeholder="Senha" id="senha1" required>
                  <i class="material-icons password-icon" data-target="senha1">lock_outline</i>
                </div>
                <br><br>
                <% if (typeof errorMessage !== 'undefined') { %>
                <p class="text-danger text-center"><%= errorMessage %></p>
                <% } %>
                <br>
                <button type="submit" id="entrarBtn" class="btn bg-custom btn-block">Entrar</button>
                <br><br><br> <br><a href="/redefinir/confirm-email" class="text-center d-block">Esqueceu a senha?</a>
              
            
              </form>
            </div>    
          </div>
          <div class="flip-card__back">
            <div class="container-fluid bg-container d-flex align-items-center justify-content-center">
              <form action="/cadastro/submit" class="flip-card__form">
                <h2 class="text-center">Cadastro</h2>
                <br>
                <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome" required>
                <br>
                <input type="text" name="sobrenome" class="form-control" placeholder="Sobrenome" id="sobrenome" required>
                <br>
                <input type="email" name="email" class="form-control" placeholder="Email" id="email" required>
                <br>
                <div class="password-container">
                  <input type="password" name="senha" class="form-control" placeholder="Senha" id="senha2" required>
                  <i class="material-icons password-icon" data-target="senha2">lock_outline</i>
                </div>
                <br>
                <input type="date" name="data_nascimento" class="form-control custom-input-date" class="datepicker" placeholder="Data de Nascimento" id="data_nascimento" required>
                <br>
                <br>
                <button class="btn bg-custom btn-block" type="submit">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>
      </label>
    </div>
  </div>
</body>
<script>
  const toggleInput = document.querySelector('.toggle');
  const flipCardInner = document.querySelector('.flip-card__inner');

  toggleInput.addEventListener('change', () => {
    flipCardInner.style.transform = toggleInput.checked ? 'rotateY(180deg)' : 'rotateY(0)';
  });

  const passwordToggles = document.querySelectorAll('.password-icon');

  passwordToggles.forEach(toggle => {
    toggle.addEventListener('mouseenter', () => {
      const targetId = toggle.getAttribute('data-target');
      const passwordField = document.getElementById(targetId);
      
      passwordField.type = 'text';
      toggle.textContent = 'lock_open';
    });

    toggle.addEventListener('mouseleave', () => {
      const targetId = toggle.getAttribute('data-target');
      const passwordField = document.getElementById(targetId);

      passwordField.type = 'password';
      toggle.textContent = 'lock_outline';
    });
  });


</script>
