<link rel="stylesheet" href="/styles/criar.css">
<div class="body">
        <div class="container-fluid bg-container d-flex align-items-center justify-content-center">
                <br><br>
                <img class="no" src="/images/icon.png">
                <br><br>
                <h2>Receita criada com sucesso!</h2>
                <br>
                <h3>Receita criada com sucesso! Agora você pode compartilhar suas deliciosas criações culinárias com o
                        mundo.</h3>
                <br><br><br>
                <a href="/receitas"><button class="btn bg-custom2 btn-block">OK</button></a>
                <br>
                </h1>

        </div>

</div>