@import url('https://fonts.googleapis.com/css2?family=Inder&family=Merienda&display=swap');
.body{
   
    background: url('/images/fundo.jpg');
    background-size: cover; 
display: flex;
text-align: center;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
min-width: auto;
}

.back-button {
    position: absolute;
    top:12.2rem;
    right:12.6rem;
  
  }

  p,ol,ul{
    width: auto;
    color: rgba(201, 61, 14, 0.80);
    font-size: 1.2vw;
  }
  span{
    color: #e1410c;
    font-weight: 600;
  }
  h1{
      margin: 0;
      font-family: 'Merienda', cursive;
      color: #C93D0E;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  *{
     font-family: 'Inder', sans-serif; 
  }
  
.fechar{
    display: flex;
    align-items: end;
    justify-content: end;
}
strong{
  color: #C93D0E;
  font-size: 20px;
}
.mg{
  width: auto;
margin: 100px;
    margin-top: 0;
    margin-bottom: 0;
}
.papper {
    min-height: auto;
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 44rem;
    text-align: start;
    background: #ffffff;
    background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.3rem);
    background-size: 100% 1.2rem;
    border-radius: 10px;
  }

  .papper::before,
  .papper::after {
    position: absolute;
    content: "";
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  .papper::before {
    left: 15px;
    transform: skew(-5deg) rotate(-5deg);
  }
  
  .papper::after {
    right: 15px;
    transform: skew(5deg) rotate(5deg);
  }
  
  .papper:hover::before,
  .papper:hover::after {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
  }
  a{
    outline: none;
    text-decoration: none;
    color: #FDF2EE;
  }
  .bg-custom{
    margin-left: 2rem;
    margin-right: 2rem;
   min-width: 10rem;
        text-align: center;
        color: #FDF2EE;
        border-radius: 30px;
        background: #C93D0E;
       width: 14rem;
        height: 6.5vh;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
         border: 3px solid #FFF;
         box-shadow: 0px 0px 0px 3px #C93D0E;
        transition: box-shadow 0.3s ease, background-color 0.3s ease;
        }
        .bg-custom:hover{
        color: #FDF2EE;
            background-color: #e74c3c;
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
          transform: scale(1.1);
        }
    img{
     max-width: 530px;
     width: auto;
      border-radius: 60px;
      border: 2px solid #C93D0E;
      box-shadow: 0px 4px 15px 0px rgba(201, 61, 14, 0.50);
    }

.btnss{
display: flex;
align-items: center;
justify-content:space-evenly;
flex-direction: row;

}






  @media (max-width: 2200px) {
    
    .back-button {
      
      position: absolute;
      top:1rem;
      right:1rem;
     
    }
  }
  @media (max-width:1202px){


    .papper{
        width: 40rem;
    }
button{
      width: 5rem;
  }
  }
  @media (max-width:840px){


    .papper{
        width: 30rem;
    }

  }