@import url('https://fonts.googleapis.com/css2?family=Inder&family=Merienda&display=swap');

nav {
  width: 100%;
  background: url('/images/nav.jpg');
  background-size: cover;
  height: 15vh;
}

section {
  margin-left: 2vw;
}

i {
  color: #1a971a;
  margin: 1rem;
}

h1 {
  color: #C93D0E;
  font-family: 'Merienda', cursive;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

#error-message {
  text-align: center;
  margin: 0;
  background-color: rgb(212, 255, 169);
  display: none;
  width: 100%;
  border-radius: 0;
  height: 2rem;

}

path {
  color: #C93D0E;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 350px;
}

.input {
  width: 27vw;
  height: 5.5vh;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border-radius: 50px;
  border: 3px solid #E9BB76;
  outline: none;
  background-color: #ffffff;
  color: #000000;
  transition: .3s ease;
}

.input::placeholder {
  color: #000000;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(240, 107, 54, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #000000;
  width: 1rem;
  height: 1rem;
}



#adicionar {
  margin-left: 1vw;
  text-align: center;
  width: 20vw;
  height: 5.5vh;
  border-radius: 50px;
  border: 1px solid #C93D0E;
  background: #C93D0E;
  box-shadow: 0px 4px 15px 0px rgba(201, 61, 14, 0.25);
  color: #FFF;
  font-family: Inder;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

a {
  outline: none;
  text-decoration: none;
  color: #FFF;
}

#perfil img {
  height: 5vh;
}

#perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
  width: 4vw;
  height: 5.5vh;
  border-radius: 90px;
  border: 1px solid #C93D0E;
  background: #C93D0E;
  box-shadow: 0px 4px 15px 0px rgba(201, 61, 14, 0.25);


}

.white-icon {
  color: white;

}

.container * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
}

.container {
  display: flex;
  overflow-x: scroll;
  padding: 24px;
  width: 30vw;
  scroll-snap-type: x mandatory;
  scroll-padding-top: 24px;
  border-radius: 8px;
  gap: 20px;
}

.container .card {
  flex: 0 0 100%;
  overflow: hidden;

  scroll-snap-align: start;
}


.scroll-1::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-1::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888;
}

.card {

  width: 350px;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__image {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color: rgba(242, 242, 242, 0.6);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 12px 0 10px;
  font-size: 12px;
  color: #575757;
  line-height: 1.4;
}

.card__button {
  padding: 15px;
  border-radius: 8px;
  background: #777;
  border: none;
  color: white;
}

.secondary {
  background: transparent;
  color: #777;
  border: 1px solid #777;
}

.card {
  margin: 0.5rem;
}
h3{
  color: #C93D0E;
  margin-left: 1%;
}
.quebrar{
  display: flex;
  flex-direction: row;
  margin: auto 3.5%;
}

@media (max-width: 1280px) {
  #perfil {
    width: 3.2rem;
  }
}
@media (max-width: 468px) {
#seila{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.group{
  min-width: 93vw;
  margin: 0 auto;
}
#search-form{
  min-width: 95vw;
}
#adicionar{
  width: 95%;
  flex: 1;
  
}
}

@media (max-width: 1070px) {
  #adicionar {
    width: 13rem;
  }

  .input {
    width: 14rem;
  }
}

@media (max-width: 767.98px) {
  #adicionar {
    font-size: 16px;
  }

  .input {
    width: 14rem;
  }

  section {
    margin: 0;
  }

  #receitasList .card {
    flex-basis: calc(50% - 1rem);
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 475px) {
  .input {
    width: 100%;
  }

  #adicionar {
    font-size: 16px;
  }

  h1 {
    text-align: center;
  }

  #perfil {
    width: 3.2rem;
  }

  #receitasList .card {
    flex-basis: 96%;
    margin-right: 0;
  }
}